@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Icons+Outlined);
body{
    background-color: #cfe2f3;
    margin: 0px;
}
#header{
    background-color: #ffffff;
    text-align: center;
    padding:20px 0px 6px 0px;
    box-shadow: 0px 1px 5px 1.6px rgb(179, 177, 177);
}
.infos{

    margin-left: 8%;
    line-height: 16px;
    margin-top: 13px;
}
.infos:not(.infos:first-child){
    margin-top: -6px;
}
.infos:first-child{
    font-size: 19.2px; font-weight: 500; font-family: 'Roboto', sans-serif !important;
}
.infos:nth-child(2){
    font-size: 16px;font-weight: 100; font-family: 'Roboto', sans-serif !important;
}
.infos:nth-child(3){
    font-size: 19.2px; font-weight: 700;font-family:  sans-serif !important; justify-content: center;
}
.infos:nth-child(4){
    font-size: 16px;font-weight: normal; font-family:  sans-serif !important
}  
.question_text{
    font-weight: bold; 
}
.container{
    height:max-content;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.question-number{
    margin-left: 20px;
    font-weight: bold;
    padding-top: 15.5px;
    margin-right: 10px;
}
@media screen and (max-width:600px){
    .question-div{
        padding-right: 10px !important;
    }
    .mobile-view{
        width:90% !important;
    }

    .star{
        right: 87% !important;
        top: 60% !important;
    }
    .sodi-text:focus ~ .star{
        right: 87% !important;
        top: 55% !important;
        font-size: 15px;
        color: red;
    }
}
.question-div{
    height: max-content;
    padding-bottom: 1px;
    padding-right: 250px;
    line-height: 18px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(172, 169, 169, 0.466);
}
.questions{
    top: 5px;
    width: 82%;
    position: relative;
    line-height: 16px;
    padding: 1px 16px 16px 10px;
    height:max-content;
    background-color: white;
    border-radius: 1px;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    box-shadow: rgb(0 0 0 / 26%) 0px 1px 8px;
    /* margin-left: 8%;
    margin-right: 8%; */
}
#radio-inputs-div{ 
    top: 4px;
    position: relative;
    margin-left: 0px;
    margin-top: 25px;
    /* margin-bottom: 40px; */
    padding-bottom: 35px;
    padding-left: 18px;
    /* border-bottom: 1px solid rgba(172, 169, 169, 0.466); */

}
.radio-input{
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.562);
    top: 30px;
    appearance: none;
    width: 92px;
    height: 32px;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}
label:last-child{
    margin-left: -80px;
}
.radio-input:last-child{
    margin-left: -20px;
}
.radio-input:checked{
    border: 1px solid purple;
    background-color: #e7d3f4;
}
.radio-input:checked ~ span{
    color: purple;
}
span{
    font-family: Material Icons Outlined;
    cursor: pointer;
    position: relative;
    top: -5px;
    left: -90px; 
    font-size: 24px;
}
/* label{
    left: 24px;
} */
b{
    font-family: 'Roboto';
    font-size: 12px;
    position: relative;
    top: -6px;
    left: -20px;
    font-weight: 500;
}
.second-div{
    /* width: 96%; */
    margin-left: 0px;
    height: max-content;
    /* background-color: whitesmoke; */
    border-top: 1px solid rgba(172, 169, 169, 0.466);
    padding-left: 43px;
    position: relative;
    display: none;
    margin-bottom: 40px;
}
.description{
    margin-top: -10px;
    font-family: Roboto;
    font-size: 13px;
    color: rgba(128, 128, 128, 0.74);
}
.sodi-text{
    width: 92%;
    height: 110px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 16px;
}
.sodi-text:focus{
    border-bottom: 2.5px solid purple;
}
.star{
    position: absolute;
    right: 96%;
    top: 55%;
    transition: top 0.27s ease-in-out;
}
.sodi-text:focus ~ .star{
    position: absolute;
    right: 96%;
    top: 49%;
    font-size: 15px;
    color: rgba(207, 0, 0, 0.76);
}

.error:before{
    position: absolute;
    top: 48;
    content:"\2715"; 
    font-size: 8px;
    font-weight: bold;
    background-color: rgba(207, 0, 0, 0.76);
    color: white;
    padding: 0px 4px;
    border-radius: 50%;
    border: none;
}
.error{
    color: rgba(207, 0, 0, 0.76);
    font-size: 17px;
    visibility: hidden;
}
.footer-div{
    position: fixed;
    bottom: 0px;
    padding: 15px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-size-adjust: 100%;
    background-color: #efeff0;
    text-align: start;
    letter-spacing: 0.2px;
    line-height: 14px;
}
.answered{
    /* flex-grow: 1; */
    display: flex;
}
.estimated-time{
    /* margin-left: 90px; */
    flex-grow: 1;
}
.nextpage{
    /* margin-left: 90px; */
    flex-grow: 1;
    width: max-content;
}
#next-page{
    cursor: pointer;
    height: 24px;
    width: 137px;
    border: none;
    background-color: black;
    border-radius: 4px;
    font-family: myriad-pro, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
}
.buttons-to-navigate{
    margin-top: 55px;
    margin-bottom: 130px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.buttons{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav-buttons{
    cursor: pointer;
    text-align: center;
    padding: 11px 40px 10px 40px;
    font-family: myriad-pro, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
}
#progress-bar{
    margin-top: 5px;
    max-width: 200px;
    min-width: 160px;
    height: 4px;
    border-radius: 2px;
    display: flex;
    background-color: rgba(128, 128, 128, 0.233);
}
#progressed{
    border-radius: 2px;
    height: 100%;
    width: 40%;
    background-color: #8626c3;
}
button:hover{
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 32%);
}